*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: sans-serif;
}

section{
    width: 100%;
    height: 100vh;
    color: white;
    background: linear-gradient(#000428 ,#0d7b9c);
}

.box{
    width: 92%;
    height: 88%;
    background: linear-gradient(#010633 ,#236dad),url("../images/python-bg.png");
    background-blend-mode:multiply;
    position: absolute; /*Can also be `fixed`*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 50px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}

h1{
    float: left;
    color: #10d0d6;
    font-size: 70px;
    text-align: center;
    /*text-shadow: 1px 1px 1px white, 0 0 20px rgb(192, 197, 240), 0 0 5px rgb(90, 142, 202);*/
}

h4,h5{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
    font-size: 30px;
}

.questions{
    font-weight: bold;
    color: white;
    padding-left: 30px;
}

.answer{
    padding-left: 30px;
}

#feedback {
    font-size: 3rem;
    padding-left: 30px;
}
.red {
    color:indianred;
}
.green {
    color:lightseagreen;
}

.container {
    width: 700px;
    /*color: black;
    background-color: #09b4b9;
    border:black 2px solid;*/
    border:#09b4b9 2px solid;
    border-radius: 20px;
    display: block;
    position: relative;
    padding-bottom: 13px;
    padding-top: 13px;
    padding-left: 55px;
    margin-bottom: 12px;
    margin-top: 22px;
    cursor: pointer;
    font-size: 22px;
}


button {
    position: absolute;
    transform: translate(-50, -50);
}
   
button {
    font-size: 40px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 60px;
    margin-left: 30px;
    width: 700px;
    color: white;
    border:#09b4b9 2px solid;
    background: none;
    transition: .6s;
    overflow: hidden;
}
   
button:focus {
    outline: none;
}
   
button:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}
   
button:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translateX(-100px) scaleX(-15deg);
}
   
button:hover {
    background: #09b4b9;
    color: black;
    cursor: pointer;
}
   
button:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}
   
button:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    margin-left: 20px;
    margin-right: 50px;
    top: 15px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
  
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container:hover{
    background-color: #09b4b9;
}
  
.container input:checked ~ .checkmark {
    background-color: #086285;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

ul{
    padding-left: 320px;
    color: white;
}

.level{
    float: right;
    text-align: left;
    margin-right: 60px;
}

.main{
    margin-top: 30px;
    clear: left;;
}

.wrapper1 {
    margin-top: 50px;
    float: left;
    position: absolute;
    width: 760px;
    height: 520px;
    perspective: 900px;
  }
  
.container1 {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    transition: 0.4s all ease;
    border:#09b4b9 1px solid;
    border-radius: 20px;
    /*box-shadow: 0px 20px 50px #555;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 2px white, 0 0 25px rgb(230, 232, 250), 0 0 5px rgb(159, 195, 236);*/
    animation-delay: 2s;
    animation: entry 1s linear 1;
    animation: rotate 3s;
    animation-fill-mode: forwards;
}
  
@keyframes entry {
    0% {
      top: -20%;
      opacity: 0.1;
    }
    100% {
      top: 0%;
    }
}

@keyframes rotate {
    0% {transform: rotateX(60deg) scale(0.7);}
    100% {
        cursor: pointer;
        transform: rotate(0deg) scale(1) translateY(10px);
        transition: 0.5s all ease;
        perspective: 900;
        z-index: 99;
    }
}

#card1 {
    background: transparent;
    z-index: 300;
}

#story1{
    background: transparent;
}
  
.info {
    position: absolute;
    top: 5%;
}
  
h3 {
    margin-left: 20px;
    font-size: 20px;
    text-align: left;
    /*text-shadow: 0px 0px 10px #eee;*/
    color: #eee;
    letter-spacing: 2px;
}


.ans{
    float: right;
    margin-top: 50px;
    margin-right: 70px;
}

.bullets{
    font-size: 20px;
}

#correct{
    animation-name: myanimation1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#incorrect{
    animation-name: myanimation2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes myanimation1{
    0%{background-color: navy;}
    100%{background-color: rgb(84, 250, 78);}
}

@keyframes myanimation2{
    0%{background-color: navy;}
    100%{background-color: rgb(255, 92, 92);}
}


.popup .content {
    position:absolute;
    margin-top: 180px;
    margin-left: 380px;
    transform:translate(-50%,-50%) scale(0);
    background: linear-gradient(to left,#000428 ,#0d7b9c);
    border-radius: 10px;
    width:730px;
    max-height:220px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
}
   
.popup .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:rgb(255, 255, 255);
    color:rgb(7, 0, 0);
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
}
   
.popup.active .overlay {
    display:block;
}
   
.popup.active .content {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
}

.popup{
    margin-bottom: 140px;
}
   
.popup-btn {
    position:absolute;
    margin: 50px;
    margin-left: 100px;
    transform:translate(-50%,-50%);
    padding:15px;
    font-size:18px;
    border:2px solid rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    text-transform:uppercase;
    font-weight:600;
    background:rgb(0, 0, 0);
}