{% extends 'base.html'%}
{%block title%} Your profile {%endblock%}
{%block content%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        rect {
            fill:transparent;
        }
        @media screen and (max-width: 1700px){
            table{
                left: 18%;
                position: relative;
                width: 700px;
                box-shadow: 1px 1px 20px 1px rgb(2, 154, 255);
                margin-bottom: 30px;
            }
            .prev_games{ /*TITLE ABOVE TABLE*/
                left: 19%;
            }
            .arrow{
                position: absolute;
                top: 1500px;
                margin-bottom: 100px;
                bottom: 10px;
                left: 50%;
                transform: translate(-50%,-50%);
            }

            .arrow span{
                animation: animate 2s forwards;
            }

            @keyframes animate {
                0%{
                    opacity: 0;
                    transform: rotate(45deg) translate(-20px,-20px);
                }
                100%{
                    opacity: 1;
                    transform: rotate(45deg) translate(20px,20px);
                }
            }

            body{
                overflow: auto;
            }
            #carouselExampleControlsNoTouching{
                position: relative;
            }

            #top_x_div1{
                width: 700px;
                right: 11%;
                margin-top: 0px;
                border: 1px solid #09b4b9;
                /*box-shadow: 1px 1px 2px white, 0 0 25px rgb(230, 232, 250), 0 0 5px rgb(159, 195, 236);*/
                box-shadow: 1px 1px 20px 1px rgb(2, 154, 255);
            }

            #top_x_div2{
                width: 700px;
                right: 11%;
                margin-top: 0px;
                border: 1px solid #09b4b9;
                /*box-shadow: 1px 1px 2px white, 0 0 25px rgb(230, 232, 250), 0 0 5px rgb(159, 195, 236);*/
                box-shadow: 1px 1px 20px 1px rgb(2, 154, 255);
            }

            #top_x_div3{
                width: 700px;
                right: 11%;
                margin-top: 0px;
                border: 1px solid #09b4b9;
                /*box-shadow: 1px 1px 2px white, 0 0 25px rgb(230, 232, 250), 0 0 5px rgb(159, 195, 236);*/
                box-shadow: 1px 1px 20px 1px rgb(2, 154, 255);
            }
            .carousel {
                left: 18%;
                top: 70%;
                width: 860px;
            }
            .animated-chart g:nth-of-type(3) {
                transition-delay: 4s;
                transition: 1s;
                transform: scaleY(1);
                transform-origin: 50px 300px;
                }

            .animated-chart.animated-chart-start g:nth-of-type(3) {
                transform: scaleY(0);
            }

            .leaderboard{
                width: 730px;
                height: 100px;
                margin-left: 230px;
                margin-top: 30px;
                margin-bottom: 70px;
                text-align: center;
                background-color: transparent;
                color: white;
            }

            #pd{
                margin-top: 30px;
                max-height: 525px;
                width: 700px;
                margin-left: 320px;
                border: 1px #09b4b9 solid;
                box-shadow: 1px 1px 20px 1px rgb(2, 154, 255);
                overflow-y:  auto;
                overflow-x: hidden;
                }

            .podium {
                margin-top: 100px;
                margin-bottom: 10px;
                margin-left: 30px;
                /*margin-left: 1120px;*/
                display: inline-block;
                text-align: center;
                background-color: transparent;
                max-height: 600px;
                border: 2px white;
                text-align: center;
            }
            .pod1{
                margin-top: 20px;
                color: #09b4b9;
                font-size: 30px;
            }

            .pod2{
                color: #09b4b9;
                margin-bottom: 50px;
                font-size: 30px;
            }

        }
    </style>
    <div id="everything">
    <div class="main-block">
        <br>
        <h3 class="prev_games">Previous games ({{games}})</h3>
        <!--<h4>-{{first_name}} {{last_name}} || {{email}}</h4>-->
        <table  id="insidetable" class="tableSection">
            <thead>
                <tr>
                    <th>Name</th>
                    <th id='email_th'>Points</th>
                    <th>Level</th>
                    <th>Datetime</th>
                    <th id="score_th">Score</th>
                    <th id="time_th">Time</th>
                </tr>
            </thead>
            <tbody>
            {%for i in player%}
                <tr>
                    <td>{{i[0]}} </td>
                    <td>{{i[6]}} </td>
                    <td>{{i[2]}} </td>
                    <td>{{i[4]}} </td>
                    <td>{{i[3]}}</td>
                    <td>{{i[5]}}</td>
                </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-ride="carousel" data-bs-touch="false" data-bs-interval="false"><!--data-bs-interval="10000"-->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div id="top_x_div1" class="animated-chart animated-chart-start"></div>
            </div>
        </div>
        <button onclick="myFunction();" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button onclick="myFunction();" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="arrow">
        <form>
            <a href="/start"><span></span></a>
            <a href="/start"><span></span></a>
            <a href="/start"><span></span></a>
        </form>
    </div>
    
    <div class="leaderboard">
        <h3 id="leader">&#127942;Leaderboard&#127942;</h3>
    </div>
    <div id="pd">
        <div class="podium">
            <h2 class="pod1" style="color: chartreuse;">Difficulty: Easy</h2>
            <h2 class="pod2">Your place: {{easy_rank}}/{{total_easy}}</h2>
            <h4 style="float: left; width: 200px; top: 70px; font-size: 22px;">{{best_easy[1][0]}} {{best_easy[1][3]}}</h4>
            <h4 style="float: left; width: 200px; margin-bottom: 15px; font-size: 22px;">{{best_easy[0][0]}} {{best_easy[0][3]}}</h4>
            <h4 style="float: right; width: 200px; top: 100px; font-size: 22px;">{{best_easy[2][0]}} {{best_easy[2][3]}}</h4>
            <br style="clear: left;" />
            <div class="second"><h2>2</h2></div>
            <div class="first"><h2>1</h2></div>
            <div class="third"><h2>3</h2></div>
        </div>
        <div class="podium">
            <h2 class="pod1" style="color: rgb(241, 199, 11);">Difficulty: Medium</h2>
            <h2 class="pod2">Your place: {{medium_rank}}/{{total_medium}}</h2>
            <h4 style="float: left; width: 200px; top: 70px; font-size: 22px;">{{best_medium[1][0]}} {{best_medium[1][3]}}</h4>
            <h4 style="float: left; width: 200px; margin-bottom: 15px; font-size: 22px;">{{best_medium[0][0]}} {{best_medium[0][3]}}</h4>
            <h4 style="float: right; width: 200px; top: 100px; font-size: 22px;">{{best_medium[2][0]}} {{best_medium[2][3]}}</h4>
            <br style="clear: left;" />
            <div class="second"><h2>2</h2></div>
            <div class="first"><h2>1</h2></div>
            <div class="third"><h2>3</h2></div>
        </div>
        <div class="podium">
            <h2 class="pod1" style="color: rgb(230, 1, 1);">Difficulty: Hard</h2>
            <h2 class="pod2">Your place: {{hard_rank}}/{{total_hard}}</h2>
            <h4 style="float: left; width: 200px; top: 70px; font-size: 22px;">{{best_hard[1][0]}} {{best_hard[1][3]}}</h4>
            <h4 style="float: left; width: 200px; margin-bottom: 15px; font-size: 22px;">{{best_hard[0][0]}} {{best_hard[0][3]}}</h4>
            <h4 style="float: right; width: 200px; top: 100px; font-size: 22px;">{{best_hard[2][0]}} {{best_hard[2][3]}}</h4>
            <br style="clear: left;" />
            <div class="second"><h2>2</h2></div>
            <div class="first"><h2>1</h2></div>
            <div class="third"><h2>3</h2></div>
        </div>
    </div>
    
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript"
        {% if last_level=="easy"%}
            src="../static/easy.js"
        {% elif last_level=="medium"%}
            src="../static/medium.js"
        {% else %}
            src="../static/hard.js"
        {% endif %}>
    </script>
    <script type="text/javascript" src="../static/graphs.js"></script>
{%endblock%}

