{% extends 'base.html'%}
{%block title%} Your profile {%endblock%}
{%block content%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        rect {
            fill:transparent;
        }
    </style>
    <div class="main-block">
        <br>
        <h3 class="prev_games">Previous games ({{games}})</h3>
        <!--<h4>-{{first_name}} {{last_name}} || {{email}}</h4>-->
        <table  id="insidetable" class="tableSection">
            <thead>
                <tr>
                    <th>Name</th>
                    <th id='email_th'>Points</th>
                    <th>Level</th>
                    <th>Datetime</th>
                    <th id="score_th">Score</th>
                    <th id="time_th">Time</th>
                </tr>
            </thead>
            <tbody>
            {%for i in player%}
                <tr>
                    <td>{{i[0]}} </td>
                    <td>{{i[6]}} </td>
                    <td>{{i[2]}} </td>
                    <td>{{i[4]}} </td>
                    <td>{{i[3]}}</td>
                    <td>{{i[5]}}</td>
                </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-ride="carousel" data-bs-touch="false" data-bs-interval="false"><!--data-bs-interval="10000"-->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div id="top_x_div1" class="animated-chart animated-chart-start"></div>
            </div>
        </div>
        <button onclick="myFunction();" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button onclick="myFunction();" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="arrow">
        <form>
            <a href="/start"><span></span></a>
            <a href="/start"><span></span></a>
            <a href="/start"><span></span></a>
        </form>
    </div>
    <div class="leaderboard">
        <h3 id="leader">&#127942; Leaderboard &#127942;</h3>
    </div>
    <div id="pd">
        <div class="podium">
            <h2 class="pod1" style="color: chartreuse;">Difficulty: Easy</h2>
            <h2 class="pod2">Your place: {{easy_rank}}</h2>
            <h4 style="float: left; margin-left: 17px; top: 70px; font-size: 22px;">{{best_easy[1][0]}}, {{best_easy[1][3]}}</h4>
            <h4 style="float: left; margin-left: 60px; margin-bottom: 15px; font-size: 22px;">{{best_easy[0][0]}}, {{best_easy[0][3]}}</h4>
            <h4 style="float: right; margin-right: 40px; top: 100px; font-size: 22px;">{{best_easy[2][0]}}, {{best_easy[2][3]}}</h4>
            <br style="clear: left;" />
            <div class="second"><h2>2</h2></div>
            <div class="first"><h2>1</h2></div>
            <div class="third"><h2>3</h2></div>
        </div>
        <div class="podium">
            <h2 class="pod1" style="color: rgb(241, 199, 11);">Difficulty: Medium</h2>
            <h2 class="pod2">Your place: {{medium_rank}}</h2>
            <h4 style="float: left; margin-left: 17px; top: 70px; font-size: 22px;">{{best_medium[1][0]}}, {{best_medium[1][3]}}</h4>
            <h4 style="float: left; margin-left: 60px; margin-bottom: 15px; font-size: 22px;">{{best_medium[0][0]}}, {{best_medium[0][3]}}</h4>
            <h4 style="float: right; margin-right: 40px; top: 100px; font-size: 22px;">{{best_medium[2][0]}}, {{best_medium[2][3]}}</h4>
            <br style="clear: left;" />
            <div class="second"><h2>2</h2></div>
            <div class="first"><h2>1</h2></div>
            <div class="third"><h2>3</h2></div>
        </div>
        <div class="podium">
            <h2 class="pod1" style="color: rgb(230, 1, 1);">Difficulty: Hard</h2>
            <h2 class="pod2">Your place: {{hard_rank}}</h2>
            <h4 style="float: left; margin-left: 17px; top: 70px; font-size: 22px;">{{best_hard[1][0]}}, {{best_hard[1][3]}}</h4>
            <h4 style="float: left; margin-left: 60px; margin-bottom: 15px; font-size: 22px;">{{best_hard[0][0]}}, {{best_hard[0][3]}}</h4>
            <h4 style="float: right; margin-right: 40px; top: 100px; font-size: 22px;">{{best_hard[2][0]}}, {{best_hard[2][3]}}</h4>
            <br style="clear: left;" />
            <div class="second"><h2>2</h2></div>
            <div class="first"><h2>1</h2></div>
            <div class="third"><h2>3</h2></div>
        </div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript"
        {% if last_level=="easy"%}
            src="../static/easy.js"
        {% elif last_level=="medium"%}
            src="../static/medium.js"
        {% else %}
            src="../static/hard.js"
        {% endif %}>
    </script>
    <script type="text/javascript" src="../static/graphs.js"></script>
    <script>
        var lvl = document.getElementsByClassName('pod1');
        console.log(lvl.textContent);
    </script>
{%endblock%}

