{% extends 'base.html'%}
{%block title%} Login {%endblock%}
{%block content%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% if error %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>ERROR!</strong>{{error}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
    <div class="box">
      <h3 style="margin-left: 30px;">
        <strong>Login</strong>
      </h3>
      <form class='my-form' action="/form" method="POST">
        <div class="mb-3">
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username" name="first_name" value="{{first_name}}" required>
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email" value="{{email}}" required>
        </div>
        <br>
        <!--<h5 id="demo"></h5>-->
        <div class="wrapper">
          <div class="typing-demo">
            <h5>Choose the quiz's level of difficulty:</h5>
          </div>
        </div>
        <div class="checking">
          <label class="container" id="easy">Easy
            <input type="radio" checked="checked" name="radio" value="easy">
            <span class="checkmark"></span>
          </label>
          <label class="container" id="medium">Medium
            <input type="radio" name="radio" value="medium">
            <span class="checkmark"></span>
          </label>
          <label class="container" id="hard">Hard
            <input type="radio" name="radio" value="hard">
            <span class="checkmark"></span>
          </label>
        </div>
        <br>
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
    <section class="timeline">
      <ul>
      <li>
          <div>
          <time>1</time>Variables, Operators
          </div>
      </li>
      <li>
          <div>
          <time>2</time>Conditions, Chained Conditionals
          </div>
      </li>
      <li>
          <div>
          <time>3</time>Loops and Iterables
          </div>
      </li>
      <li>
          <div>
          <time>4</time>Data Structures
          </div>
      </li>
      <li>
          <div>
          <time>5</time>Functions, Methods
          </div>
      </li>
      <li>
          <div>
          <time>6</time>File IO, OS module 
          </div>
      </li>
      <li>
          <div>
          <time>7</time>Comprehensions, Collections, Map, Filter
          </div>
      </li>
      <li>
          <div>
          <time>8</time>Object Oriented Programming, Inheritance
          </div>
      </li>
      <li>
        <div>
        <time>9</time>Decorators, Generators 
        </div>
    </li>
    <li>
      <div>
      <time>10</time>Packages-libraries (Tkinter,Selenium,Flask,...)
      </div>
  </li>
      </ul>
  </section>
  <script src="../static/typing.js"></script>
  <script src="../static/login.js"></script>
{%endblock%}