<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
      body{
        background: url(../static/images/python-bg.png);
        background-color: rgba(0, 0, 0, 0.1);
      }
      ::-webkit-scrollbar {/* Hide scrollbars */
      display: none;
      }
    </style>
    <title>Python Quiz</title>
  </head>
  <body>
    <aside id="sidebar">
      <h1>
        <span id='span1'>Python</span>
        <span id='span2'>Quiz
          <a href="/login" class="player"><span></span></a>
        </span>
      </h1>
    </aside>
  </body>
</html>
