{% extends 'base.html'%}
{%block title%} Login {%endblock%}
{%block content%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <div class="box">
      <h3> 
        <strong id="demo">
        </strong>
      </h3>
      <form class='my-form' action="/form" method="POST">
        <div class="mb-3">
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name" name="first_name" value="{{first_name}}" required>
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email" value="{{email}}" required>
        </div>
        <br>
        <label class="container" id="easy">Easy
          <input type="radio" checked="checked" name="radio" value="easy">
          <span class="checkmark"></span>
        </label>
        <label class="container" id="medium">Medium
          <input type="radio" name="radio" value="medium">
          <span class="checkmark"></span>
        </label>
        <label class="container" id="hard">Hard
          <input type="radio" name="radio" value="hard">
          <span class="checkmark"></span>
        </label>
        <br>
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
    <script src="../static/typing.js"></script>
{%endblock%}